body {
  --maincolor: gray;
  --content: #ce8147;
  --darker: #fc814a;
  --evendarker: #39a0ed;
  --button: #39a0ed;
  --headline: #052f5f;
  --text: ;
  background-color: #618374;
  animation-name: appearance;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body a {
  text-decoration: none;
}
#current {
  background-color: var(--evendarker, black);
  margin-top: 5px;
  padding-bottom: -5px;
}
button {
  background-color: var(--button, white);
  font-size: 26px;
  border-radius: 20%;
  border-width: 5px;
  border-color: var(--headline, gray);
  padding: 5px;
}
button:hover {
  animation-name: link;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.headline {
  font-size: 80px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("https://scontent.ftlv2-1.fna.fbcdn.net/v/t1.0-9/123138656_1786266351521194_6694733384327092090_n.jpg?_nc_cat=111&ccb=2&_nc_sid=6e5ad9&_nc_ohc=QJB3_SzEQCkAX-qLvQv&_nc_ht=scontent.ftlv2-1.fna&oh=df2d231c91509e237eadc679095e57d7&oe=6022BD69");
  margin-top: 50px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: var(--headline, black);
}

h2 {
  color: var(--headline, black);
  font-size: 9vh;
  text-align: center;
}
p,
label {
  color: var(--text, white);
  font-size: 4vh;
}
/* 
  var(--maincolor',gray);
  var(--content,rgb(102, 94, 94));
  var(--darker,black);
  var(--button,white);
  var(--headline,black);
  var(--text,white);
  */
.din {
  position: fixed;
  overflow: hidden;
  background-color: var(--darker, black);
  width: 100%;
  z-index: +5;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19); */
  top: 10px;
  animation-name: appearance;
  animation-duration: 1000ms;
}
#navlist {
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 15px;
  border-color: var(--evendarker, black);
}

.din li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  margin-left: 8vh;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.din li:hover {
  animation-name: link;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes link {
  100% {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 600px) {
  .din li,
  footer a {
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: left;
  }
  .icon {
    height: 3vh;
  }

  .din {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0 50px;
    height: 80px;
    overflow: scroll;
  }
}
main {
  position: relative;
  float: center;
  width: 80vw;
  background-color: var(--content, rgb(102, 94, 94));
  width: 80%;
  margin: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  min-height: 20vh;
  margin-bottom: 20vh;
  animation-name: appearance;
  animation-duration: 2300ms;
}
article {
  width: 80%;
  margin: auto;
  animation-duration: 3000ms;
}
.picgal {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--darker, black);
  text-align: center;
  padding: 10rem 2rem;
}
.pictile {
  margin: 10px;
  text-align: center;
  font-size: 30px;
  width: 400px;
  height: 600px;
  margin: 10px 10px 10px 10px;
}
.pictile img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.pictile img:hover {
  transform: scale(1.2);
  transform: scale(1.2);
}
#logo {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  z-index: +6;
  border-style: solid;
  border-width: 15px;
  border-color: var(--evendarker, black);
  border-radius: 50%;
}

footer {
  overflow: hidden;
  background-color: var(--darker, black);
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  top: 10px;
  animation-name: appearance;
  animation-duration: 1000ms;
}

footer a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  /* margin-left: 8vh; */
}
#contlink {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50%;
  max-width: 100%;
  top: 50%;
}
.icon {
  height: 8vh;
  position: relative;
  left: -20px;
}
.contgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, 50px);

  margin-top: -50px;
  padding-bottom: 30px;
}
.productgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(auto, 50px);
  grid-gap: 25px;
}

.productgrid img {
  max-width: 100%;
}
.productgrid .icon,
.productgrid p {
  margin-top: 60px;
  justify-self: center;
}
.contact {
  position: relative;
  padding-bottom: 190px;
}
form input,
form textarea,
form button {
  position: absolute;
  right: 3vw;
}
a .icon:hover {
  animation-name: link;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.contsubmit {
  bottom: 4px;
}
